<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/footer.css">

</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 style="text-align: center;">Page Not Found!</h1>

    <%- include('includes/footer.ejs') %>
<%- include('includes/end.ejs') %>